<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hiball.gssc">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAubpPlo1Ma4ila2oHYUr7fIdU51PTWEM" />

        <activity
                android:windowSoftInputMode="adjustNothing"
                android:name="com.hiball.gssc.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.hiball.gssc.ui.home.SecondActivity" />
        <activity android:name="com.hiball.gssc.SignupActivity" />
        <activity android:name="com.hiball.gssc.TestActivity" />
        <activity android:name="com.hiball.gssc.LoginActivity"
                  android:label="로그인"
        />
        <activity
                android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="sensor"
                android:theme="@style/FinestWebViewTheme.Light" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>